follower/data/mementos.txt
follower/data/NonParsedMementos.txt
*/__pycache__
*/*/__pycache__
*.pyc
output/
.RData
dist/
build/
mementos.txt
test.py
fch.egg-info
*.nfs*
NonParsedMementos.txt
